<h1>Configuração de Peso</h1>

<dl>
  <dt>Peso Mínimo:</dt>
  <dd><%= @weight_config.minimum_range %></dd>

  <dt>Peso Máximo:</dt>
  <dd><%= @weight_config.maximum_range%></dd>

  <dt>Valor:</dt>
  <dd><%= @weight_config.value %></dd>
</dl>

