<h1>Ordem de Serviço</h1>

<% @service_orders.each do |o| %>
  <div>
    <h3><%= link_to(o.code, service_order_path(o.id)) %> - <%= I18n.translate(o.status) %></h3>
  </div>
<% end %>

<% if @service_orders.empty? %>
  <p>Não existem ordem de serviço cadastradas</p>
<% end %>

<%= link_to 'Cadastrar Nova Ordem de Serviço', new_service_order_path %>
