<h1>Configuração de Distância</h1>

<% @distance_configs.each do |d| %>
  <div>
    <h3><%= d.minimum_range - d.maximum_range - d.value %></h3>
  </div>
<% end %>

<% if @distance_configs.empty? %>
  <p>Não existem configurações de distância</p>
<% end %>

<% if (current_user.admin?) %>
  <%= link_to 'Nova Configuração de Distância', new_distance_config_path %>
<% end %>